torch==2.7.1
transformers==4.49.0
tokenizers==0.21.0
huggingface-hub==0.26.5
accelerate==1.2.0
peft==0.7.1
bitsandbytes==0.45.3
sentence-transformers==3.2.1
sentencepiece==0.2.0
protobuf==5.29.1
datasets==3.3.2
pyarrow==18.1.0
fsspec==2024.10.0
higher==0.2.1
einops==0.4.0
hydra-core==1.1.1
omegaconf==2.1.1
importlib-metadata==6.3.0
PyYAML==6.0
numpy==1.22.1
scipy==1.7.3
scikit-learn==1.0.2
pandas==1.4.0
matplotlib==3.5.1
tqdm==4.67.1
nltk==3.6.5
rouge-score==0.1.2
openai==1.97.1
zhipuai==2.1.5.20241204
gpustat==1.1
opencv-python==4.8.0.76
av==15.0.0
fairscale==0.4.13
iopath==0.1.10
timm==0.9.7
qwen-vl-utils==0.0.10
